<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huff Scraper</title>
    <script src="https://kit.fontawesome.com/07d4bd49a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <div class="buttons">
            <a href="/" class="home">Home</a>
            <a href="/saved_articles" class="saved">Saved Articles</a>
            <a href="" class="scrape">Get Articles</a>
            <a href="/articles">See Articles</a>
        </div>
    </nav>
    <header>
        <div class="jumbo">
            <h1>Huff Scrape</h1>
        </div>
    </header>
    <article>
        {{{body}}}
    </article>
    <footer></footer>
    <script src="/javascript/app.js"></script>
</body>

</html>