<div class="container">
    {{#each news}}
    <div class="article">
        <p class="title">
            <a href="{{link}}">{{title}}</a>
        </p>
        <p class="description">{{description}}</p>
    </div>
    {{/each}}
</div>